body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background: rgb(199, 195, 195);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #4682B4;
}
p {
    text-align: justify;
    line-height: 1.6;
}

h2 {
    color: #4682B4;
    margin-top: 20px;
}
p {
    text-align: justify;
    line-height: 1.6;
}
ol, ul {
    text-align: left;
    margin: 10px auto;
    padding-left: 20px;
    max-width: 750px;
}
ol li, ul li {
    margin-bottom: 5px;
}

        /* Responsive Design */
        @media (max-width: 768px) {
            .container {
                width: 95%;
                padding: 15px;
            }
            h1 {
                font-size: 24px;
            }
            h2 {
                font-size: 20px;
            }
            p, li {
                font-size: 16px;
            }
        }